#onlondbox{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    .box{
        width: 100%;
        height: 200px;
        border: 1px solid #ccc;
        display: flex;
        align-items: center;
        justify-content: space-around;
        ul{
            width: 800px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: red;
            list-style: none;
            li:nth-child(2){
                width: 400px;
                div{
                    float: left;
                }
            }
        }
        .p2,.p3{
            width: 88px;
            height: 42px;
            position: fixed;
            text-align: center;
            line-height: 42px;
            font-weight: bold;
        }
        .p2{
            top: 340px;
            left: 520px;
            background: skyblue;
            color: #fff;
    
    
        }
        .p3{
            top: 340px;
            left: 680px;
            background: gray;
            color: #fff;
    
    
        }
    }
}