.login {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .lsp1 {
        display: block;
        position: fixed;
        width: 24px;
        height: 24px;
        background-image: url(../../assets/登录.png);
        top: 10px;
        left: 10px;

    }

    .limg1 {
        width: 100%;
    }

    .lul1 {
        width: 100%;
        height: 50px;
        background-image: url(https://i0.tuanimg.com/ms/zhe800m/dist/img/passport/m_banner_02.jpg);
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 16px;

        .lli {
            height: 100%;
            line-height: 50px;
            color: red;
            border-bottom: 3px solid red;
        }
    }

    #inp1 {
        width: 100%;
        height: 110px;
        text-align: center;
        margin-top: 40px;

        .inpsp {
            display: block;
            width: 110px;
            height: 22px;
            border: 1px solid #e7e7e7;
            background: #f9f9f9;
            font-size: 14px;
            text-align: center;
            line-height: 22px;
            color: #b2b2b2;
            border-radius: 30px;
            position: fixed;
            right: 20px;
            top: 280px;
        }

        .inp11 {
            width: 320px;
            border: 1px solid white;
            border-bottom: 1px solid #fafafa;
            font-size: 14px;
            margin-top: 20px;
            ;
        }
    }

    #inp2 {
        width: 100%;
        height: 110px;
        text-align: center;
        margin-top: 40px;

        .inp22 {
            width: 320px;
            border: 1px solid white;
            border-bottom: 1px solid #fafafa;
            font-size: 14px;
            margin-top: 20px;
            ;
        }
    }
    .cw{
        height: 18px;
        width: 100%;
        text-align: center;
        font-size: 18px;
        color: red;
    }
    .denglu{
        width: 314px;
        height: 40px;
        background: #e63b53;
        color: white;
        font-size: 18px;
        text-align: center;
        line-height: 40px;
        margin: auto;
        margin-top: 40px;
    }
    #p1{
        width: 314px;
        height: 30px;
        background: #f8f8f8;
        color: #b1b1b1;
        font-size: 16px;
        line-height: 30px;
        margin:10px auto;
    }
    #p2{
        width: 340px;
        height: 30px;
        font-size: 14px;
        margin: 10px auto;
        line-height: 30px;
        .da1{
            color: #b1b1b1;
        }
        .da2{
            color: #b1b1b1;
            margin-left: 228px;
        }
    }
    .limg2{
        width: 100%;
        margin-top: 30px;
    }
    .limg3{
        margin-top: 30px;
    }
}