.register {
    width: 100%;

    .header {
        width: 100%;
        height: 50px;
        background: #f8f8f8;
        margin: auto;
        line-height: 50px;
        text-align: center;
        .rimg1{
            position: fixed;
            left: 20px;
            top: 10px;
        }
        .rsp1{
            font-size: 18px;
        }
    }
    #inp1 {
        width: 100%;
        height: 110px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .inp11 {
            width: 320px;
            border: 1px solid white;
            border-bottom: 1px solid #fafafa;
            font-size: 14px;
            margin-top: 20px;
            ;
        }
        .rzsp1,.rzsp2{
            width: 320px;
            height: 14px;
            font-size: 14px;
        }
    }
    .zhuce{
        width: 314px;
        height: 40px;
        background: #e63b53;
        color: #f7adad;
        font-size: 18px;
        text-align: center;
        line-height: 40px;
        margin: auto;
        margin-top: 40px;
    }
}