#bbox {
  width: 100%;
}

#bbox .header {
  width: 100%;
  height: 46px;
  text-align: center;
  line-height: 46px;
  font-size: 18px;
  background: #f8f8f8;
}

#bbox .header .bsp1 {
  position: fixed;
  left: 20px;
  top: 0;
  font-size: 30px;
  font-weight: bold;
  color: #666666;
}

#bbox .bul {
  width: 270px;
  height: 26px;
  display: flex;
  margin: 20px auto;
}

#bbox .bul .bli {
  width: 49%;
  height: 100%;
  text-align: center;
  line-height: 26px;
  font-size: 12px;
  border: 1px solid #f4f4f4;
}

#bbox .bul .bli1:hover {
  background: red;
  color: white;
}

#bbox .bul .bli2:hover {
  background: red;
  color: white;
}

#bbox .main {
  width: 100%;
  height: 220px;
}

#bbox .main .mul {
  margin-bottom: 40px;
  width: 100%;
  height: 100%;
}

#bbox .main .mul .mli {
  width: 100%;
}

#bbox .main .mul .mli .mul1 {
  width: 100%;
  display: flex;
}

#bbox .main .mul .mli .mul1 .mli1 {
  margin-left: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#bbox .main .mul .mli .mul1 .mli1 .mimg1 {
  width: 64px;
  height: 30px;
}

#bbox .main .mul .mli .mul1 .mli1 .msp1 {
  width: 300px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

#bbox .main .mul .mli .mul1 .mli1 .msp1:nth-child(2) {
  color: #999999;
}

#bbox .main .mul .mul2 {
  margin-top: 16px;
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#bbox .main .mul .mul2 .mli2 {
  height: 100%;
  width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#bbox .main .mul .mul2 .mli2 .mimg2 {
  width: 100%;
}

#bbox .main .mul .mul2 .mli2 .mp1 {
  width: 100%;
  font-size: 14px;
  margin: 0;
}

#bbox .main .mul .mul2 .mli2 .msp3 {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#bbox .main .mul .mul2 .mli2 .msp3 .msp4 {
  font-size: 16px;
  font-weight: bold;
  color: red;
}

#bbox .main .mul .mul2 .mli2 .msp3 .msp5 {
  width: 30px;
  display: block;
  position: absolute;
  top: 10px;
  right: 0;
  border: 1px solid #c5c5c5;
}

#bbox .main .mul .mul2 .mli2 .msp3 .msp6 {
  font-size: 12px;
  color: #c5c5c5;
}
